.popup {
  width: 500px;
  height: auto;
}

.bookmark-list {
  margin: 0;
}

.bookmark-list__item {
  cursor: pointer;
}

.bookmark-list__item-link {
  color: #ff5722;
  font-weight: bold;
  display: block;
}

.header__search-icon {
  color: #212121 !important;
}

.folder-item__left-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__email-link-container {
  margin-top: 16px;
}

.footer__logo {
  width: 50px;
  height: auto;
}

.footer__github-button-container span:first-of-type {
  margin-right: 8px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center--column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.breadcrumb__container {
  padding: 0 16px;
}

.breadcrumb__link {
  font-size: 12px !important;
}

.breadcrumb-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
}

.breadcrumb-header__button-icon {
  font-size: 1.2rem !important;
  line-height: inherit !important;
  margin-right: 8px !important;
}

.more-horiz-icon {
  line-height: initial !important;
  height: 24px !important;
}

.header__dropdown-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__dropdown-menu {
  width: 200px !important;
  left: 284px !important;
}

.header__dropdown-menu > li > a {
  font-size: 14px;
}
.header__dropdown-menu > li > a > i {
  margin-right: 16px;
}